<mat-card class="column">

    <mat-grid-list cols="12" rowHeight="70px">
        <!-- <mat-grid-tile>
          <button mat-raised-button color="primary" (click)="btnNewClick()">New</button>
        </mat-grid-tile> -->

        <mat-grid-tile colspan="12">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">  
            </mat-form-field>
        </mat-grid-tile>

        <!-- <mat-grid-tile>
          <button mat-raised-button color="accent">Print</button>
        </mat-grid-tile> -->

      </mat-grid-list>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="startProductionTime1">
      <mat-header-cell *matHeaderCellDef mat-sort-header>เบอร์ผ้า</mat-header-cell>
      <mat-cell *matCellDef="let finalinspection"> {{finalinspection.startProductionTime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="startProductionTime2">
      <mat-header-cell *matHeaderCellDef mat-sort-header>เลขที่เอกสาร</mat-header-cell>
      <mat-cell *matCellDef="let finalinspection"> {{finalinspection.startProductionTime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="startProductionTime3">
      <mat-header-cell *matHeaderCellDef mat-sort-header>เลขที่เอกสาร DD เลขที่</mat-header-cell>
      <mat-cell *matCellDef="let finalinspection"> {{finalinspection.startProductionTime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="startProductionTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>วันที่เริ่มการผลิต</mat-header-cell>
      <mat-cell *matCellDef="let finalinspection"> {{finalinspection.startProductionTime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="endProductionTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>วันที่สิ้นสุดการผลิต</mat-header-cell>
      <mat-cell *matCellDef="let finalinspection"> {{finalinspection.endProductionTime}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
  </mat-table>
  <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[10, 25]">
  </mat-paginator>


</mat-card>