$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}


.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

.mat-card{
  width: 350px;
  height: 400px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

.userlogin{
  font-weight: bold;
}
