.mat-card-roll-no {
    background: rgb(183, 245, 221);
    padding : 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.mat-btn-menu {
    min-width: 100%;
    text-align: left;
}

.mat-btn-close {
    min-width: 100%;
}